<a href="https://colab.research.google.com/github/sarang2lee/my-first-web-site/blob/main/jumpToPython20250701.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number**2)
    return result

In [2]:
result = two_times([3, 4, 5, 6, 7])
print(result)

[9, 16, 25, 36, 49]

In [6]:
def two_times(x):
    return x**3
list(map(two_times, [10, 12, 14, 16]))

[1000, 1728, 2744, 4096]

In [7]:
list(map(lambda a: a**4, [12, 15, 18, 21]))

[20736, 50625, 104976, 194481]

In [10]:
oct(7)

'0o7'

In [11]:
oct(100)

'0o144'

open(filename, [mode])은 '파일이름'과 '읽기방법'을 입력받아 파일 객체를 리턴하는 함수이다. 읽기방법(mode)를 생략하면 기본값인 읽기모드(r)로 파일 객체를 만들어 리턴한다.

ord(c)는 문자의 유니코드 숫자 값을 리턴하는 함수이다. ord 함수는 chr 함수와 반대로 작동한다.

In [17]:
chr(360)
chr(ord('a'))

'a'

In [18]:
ord('a')
ord('가')

44032

pow(x, y)는 x를 y제곱한 결과값을 리턴하는 함수이다.

In [19]:
pow(8, 9)

134217728

In [20]:
pow(9, 3)

729

시작 숫자를 지정해주지 않으면, range 함수는 0부터 시작한다.
코마로 구분되는 2개의 숫자가 입력되면 시작 숫자와 끝숫자를 나타낸다. 단 끝 숫자는 해당 범위에 포함되자 않는다.
인수 3개를 사용하면, 세번째 인수는 숫자 사이의 거리를 의미한다.

내림차순으로 숫자를 가져오려면 구간인수를 음수로 지정해야 한다.

In [32]:
print(list(range(6)))
print(tuple(range(5, 10)))
print(set(range(0, 100, 5)))
print(tuple(range(6, -1)))
print(tuple(range(-5, 20)))
print(tuple(range(0, -30, -4)))
print(tuple(range(100, 30, -4)))
print(tuple(range(100, 30, 4)))

[0, 1, 2, 3, 4, 5]
(5, 6, 7, 8, 9)
{0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95}
()
(-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)
(0, -4, -8, -12, -16, -20, -24, -28)
(100, 96, 92, 88, 84, 80, 76, 72, 68, 64, 60, 56, 52, 48, 44, 40, 36, 32)
()

sorted(iterable)는 입력 데이터를 정렬한 후 그 결과를 리스트로 리턴하는 함수이다.
리스트 자료형의 sort함수와는 달리 정렬된 결과를 리턴한다는 점이 다르다. 즉 리스트명.sort()를 하면 원래의 list자체를 재정렬한다. 즉 기존 list값을 정렬된 값으로 재정렬한다.
그러므로 b = a.sort() 함수를 적용하면, b에는 어떤 값도 들어오지 않고, a 변수에 원래 a 값의 정렬된 값이 저장된다.

In [44]:
listA = [4,6,2,4,5,8,9]
sorted(listA)

[2, 4, 4, 5, 6, 8, 9]

In [47]:
listA = [4,6,2,4,5,8,9]
listA.sort()
print(listA)
A = listA.sort()
print(A)

[2, 4, 4, 5, 6, 8, 9]
None

str(object)는객체를 문자열 형태로 변환하여 리턴(반환)하는 함수이다.

In [48]:
str(1)

'1'

In [50]:
str("hi")

'hi'

sum(iterable)은 입력 데이터의 합을 int 또는 float 타입으로 리턴하는 함수이다. list, tuple, set 어떤 수의 집합도 가능하다.

In [61]:
sum([1, 2.5, 5, 6, 9.524, 10])
type(sum([45, 52, 35, 9.524, 12]))

float

In [62]:
sum((1, 2, 5, 6.85412, -9, 10))

15.85412

In [63]:
sum({45, 52, 35, -52, 12.6})

92.6

zip(*iterable)은 동일한 개수로 이루어진 데이터들을 묶어서 리턴하는 함수이다.

In [64]:
list(zip([25, 25, 36], ['호랑이', '사자', '여우']))

[(25, '호랑이'), (25, '사자'), (36, '여우')]

In [66]:
list(zip([25, 25, 36], ['호랑이', '사자', '여우'], ('학생', '공무원', '회사원')))

[(25, '호랑이', '학생'), (25, '사자', '공무원'), (36, '여우', '회사원')]